@model IEnumerable<Sensor_App.Models.User>

<table id="table_id" class="table display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.RazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permisos)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.RazonSocial)
            </td>
            <td>
                <select class="js-example-basic-single" name="state">
                    @foreach (var permiso in item.Permisos)
                    {
                        <option>@permiso.Permiso</option>
                    }
                </select>
            </td>
            <td>
                <a onclick="showInPopup('@Url.Action("Editar", "User", new { id = item.Id}, Context.Request.Scheme)', 'Modificar usuario')" class="btn btn-info text-white">Editar</a> |
                <form asp-action="EliminarUsuario" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                </form>
            </td>

        </tr>
        }
    </tbody>
</table>

<script src="~/js/userAjax.js"></script>