@model IEnumerable<Sensor_App.Models.Cliente>

@{
    ViewData["Title"] = "Lista clientes";
}
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link href="~/assets/css/app.min.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
</head>

<h1>Lista de Clientes</h1>

<p>
    <button type="button" class="btn btn-primary" id="crerUserButton" onclick="showInPopup('@Url.Action("Crear","Cliente", null, Context.Request.Scheme)', 'Crear cliente')">Crear Cliente</button>
</p>
<table id="table_id" class="table display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroRuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodPostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Web)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                Uruguay - Transitos
            </th>
            <th>
                Uruguay - Transitos carga suelta
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroRuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Web)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            @foreach (var seguro in item.Seguro)
            {
                <td>
                    @seguro.Uruguay_Transitos
                </td>
                <td>
                    @seguro.Uruguay_Transitos_Carga_Suelta
                </td>
            }
            <td>
                <a onclick="showInPopup('@Url.Action("Editar", "Cliente", new { id = item.ClienteId}, Context.Request.Scheme)', 'Modificar cliente')" class="btn btn-info text-white">Editar</a> |
                <form asp-action="EliminarCliente" asp-route-id="@item.ClienteId" onsubmit="return jQueryAjaxDeleteCliente(this);" class="d-inline">
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>


<div>
    <button type="button" onclick="@("window.location.href='" + @Url.Action("Inicio", "User") + "'");" class="btn btn-primary">Volver a inicio</button>
</div>
<!-- ================== BEGIN BASE JS ================== -->

<script src="~/js/theme/default.min.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/userAjax.js"></script>
<!-- ================== END BASE JS ================== -->